<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Clubs List</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="container py-5">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Club list</li>
                </ol>
            </nav>
        </div>
        <div class="container px-5">
            <div class="container">
                <a th:href="@{/clubs/new}" class="btn btn-primary">Add club</a>
            </div>
            <hr>
            <div class="container">
                <div class="row g-3">
                    <div th:each="club:${clubs}" class="col-lg-6">
                        <img th:src="${club.photoUrl}" alt="" class="img-fluid rounded-3 mb-3">
                        <a th:text="${club.title}" th:href="${club.photoUrl}" class="btn btn-dark">Project name</a>
                        <a class="btn btn-primary" th:href="@{/clubs/{clubId}/edit(clubId=${club.id})}">Edit</a>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <details>
                    <summary>Club list JSON</summary>
                    <code th:text="${clubs}"></code>
                </details>
            </div>
            <hr>
            <div class="container">
                <table id="club-table" class="table"></table>
                <script th:inline="javascript">
                    //<![CDATA[
                    $(function () {
                        "use strict";
                        const clubData = /*[[${clubs}]]*/ '[]';
                        $("#club-table").jqGrid({
                            datatype: "local",
                            data: clubData,
                            colModel: [
                                {name: "id", label: "ID", width: 50, key: true},
                                {name: "title", label: "Title", width: 150},
                                {
                                    name: "photoUrl",
                                    label: "Photo",
                                    width: 300,
                                    formatter: (cellValue) => `<a target="_blank" href="${cellValue}">${cellValue}</a>`
                                },
                                {name: "content", label: "Content", width: 300},
                                {
                                    name: "createdOn",
                                    label: "Created On",
                                    width: 100,
                                    sorttype: "date",
                                    formatter: "date",
                                    formatoptions: {newformat: "d-M-Y"}
                                },
                                {
                                    name: "updatedOn",
                                    label: "Updated On",
                                    width: 100,
                                    sorttype: "date",
                                    formatter: "date",
                                    formatoptions: {newformat: "d-M-Y"}
                                },
                            ],
                            guiStyle: "bootstrap",
                            iconSet: "bootstrap",
                            idPrefix: "club_",
                            rownumbers: true,
                            sortname: "createdOn",
                            sortorder: "desc",
                            caption: "Club Details",
                            height: 'auto',
                            pager: "#pager", // Add a pager if needed
                        });
                    });
                    //]]>
                </script>
            </div>
        </div>
    </section>
</main>
</body>
</html>