<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Clubs List</title>
</head>
<body class="d-flex flex-column h-100">

<!-- Header-->
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Our Work</h1>
                <p class="lead fw-normal text-muted mb-0">Company portfolio</p>
            </div>
            <div class="row g-3">
                <div th:each="club:${clubs}" class="col-lg-6">
                    <img th:src="${club.photoUrl}" alt="" class="img rounded-3 mb-3">
                    <a th:text="${club.title}" th:href="${club.photoUrl}"
                       class="link-dark">Project name</a>
                </div>
            </div>
            <hr>
            <div class="container">
                <table id="club-table" class="table"></table>
                <script th:inline="javascript">
                    //<![CDATA[
                    $(function () {
                        "use strict";
                        const clubData = /*[[${clubs}]]*/ '[]';
                        const parsedClubData = JSON.parse(clubData);

                        $("#club-table").jqGrid({
                            datatype: "local",
                            data: parsedClubData,
                            colModel: [
                                {name: "id", label: "ID", width: 50, key: true},
                                {name: "title", label: "Title", width: 150},
                                {
                                    name: "photoUrl",
                                    label: "Photo",
                                    width: 200,
                                    formatter: (cellValue) => `<a href="${cellValue}">${cellValue}</a>`
                                },
                                {name: "content", label: "Content", width: 300},
                                {
                                    name: "createdOn",
                                    label: "Created On",
                                    width: 100,
                                    sorttype: "date",
                                    formatter: "date",
                                    formatoptions: {newformat: "d-M-Y"}
                                },
                                {
                                    name: "updatedOn",
                                    label: "Updated On",
                                    width: 100,
                                    sorttype: "date",
                                    formatter: "date",
                                    formatoptions: {newformat: "d-M-Y"}
                                },
                            ],
                            guiStyle: "bootstrap",
                            iconSet: "fontAwesome",
                            idPrefix: "club_",
                            rownumbers: true,
                            sortname: "createdOn",
                            sortorder: "desc",
                            caption: "Club Details",
                            height: 'auto',
                            pager: "#pager", // Add a pager if needed
                        });
                    });
                    //]]>

                </script>
            </div>
        </div>
    </section>
</main>
</body>
</html>